body {
    font-family: sans-serif;
    text-align: center;
}

#website * {
    margin: 0px;
    padding: 0px;
}

#website {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;
    width: 75%;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 6;
    background-color: blue;
    color: white;
    font-size: 70px;
}

#menu {
    grid-column: 1 / 6;
    background-color: lightblue;
    color: black;
    line-height: 70px;
}

#menu ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    list-style: none;
}

#content {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
    background-color: #eee;
}

#content article {
    background-color: #ccc;
    border: 1px solid #555;
    padding: 20px;
}

#lateral {
    grid-column: 5 / 6;
    background-color: orange;
    color: white;
    padding: 20px;
}

#footer {
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
}