* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container {
    width: 90%;
    height: auto;
    min-height: 600px; /**/
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
}

#header {
    display: grid;
    grid-template-columns: 68% 30%;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgba(225,225,226,0.8);
}

.logo {

    padding: 10px;
    margin-left: 20px;
    color: black;
}

.logo h1 {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
}

#menu {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

#menu > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    list-style: none;
}

#menu a {
    text-transform: uppercase;
    color: #444;
    padding: 15px;
    transition: all 300ms;
}

#menu a:hover {
    background: #ccc;
    color: white;
}

#content {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    justify-content: space-between;
    column-gap: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    align-items: start;
}

.project {
    margin-bottom: 25px;
    border: 1px solid #ccc;

    margin-right: 20px;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 10px;
}

.project-info a {
    font-size: 16px;
    color: black;
    transition: all 300ms;
}

.project-info a:hover {
    color: green;
}

.project-info p {
    font-size: 16px;
    color: gray;
}

#aside {

    margin-right: 30px;
    padding: 15px;

}

#aside h2 {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225,225,226,0.8);
    text-align: center;
}

#aside ul {
    list-style: none;
}

#aside ul li {
    padding-bottom: 20px;
}

#aside a {
    display: block;
    padding: 20px;
    background: #eee;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}

#aside a:hover {
    background-color: #444;
    color: #eee;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 25%;
    height: 120px;
    align-items: center;
    justify-content: start;
    border-top: 1px solid rgba(225,225,226,0.8);
}

#footer .logo {
    opacity: 0.5;
    
    text-align: leftt;
    margin-right: 20px;
}

#footer .info {
    
    margin-left: 20px;
    color: #444;
}